.courseList {
  width: 70%;

  margin: auto;

  column-count: 3;
  display: table;
  list-style-type: none;
}

.courseList li {
  padding: 5px;
}

.tempList {
  /* background-color: pink; */
  width: 65%;

  margin: auto;
}

.tempList td {
  width: 30%;

  padding: 10px 20px;

  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
}